.mainBg{
    height: 70vh;
    min-height: 400px;
}

.heading-subtitle{
    width: 17rem;
    border: 1px solid rgba(18, 104, 251, .3);
    border-radius: 7px;
    color: #1268fb;
    font-weight: 500;
    background-color: #D9F1FF;  
}