* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --main-color: #1f4e38;
    --main-color-rgb: 31, 78, 56;
    --secondary-color: #b1df56;
    --secondary-color-rgb: 177, 223, 86;
    --description-color: #343434;
    --description-color-rgb: 52, 52, 52;
    --body-bg: #f7f5e8;
    --body-bg-rgb: 247, 245, 232;
    --white: #ffffff;
    --ff: 'Manrope';
    --secondary-ff: 'Fraunces';
    --fw: 600;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: var(--description-color);
    font-family: "Philosopher", serif;
}

a {
    text-decoration: none;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.575);
    z-index: 1;
}

.container-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 2;
    color: var(--white);
    width: 100%;
    text-align: left;
    margin: 10px;
    padding: 20px;
}

.data-box1 {
    width: 200px;
    border: 2px solid blue;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.data-box1:hover {
    width: 200px;
    border: 2px solid blue;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 0, 255);
    margin: 5px;
    border-radius: 10px;
    transition: .3s;
}

.data-box2 {
    text-align: left;
    margin: 10px;
}

.data-box2-h1 {
    font-size: 50px;
    font-weight: 700;
}

.border-box2 {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.data-box4 {
    border-left: 3px solid blue;
    height: 105px;
    padding-left: 20px;
}

.data-box2-con {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: left;
}

.data-box4 {
    margin-top: auto;
    text-align: end;
}

.btn-2 {
    display: flex;
    justify-content: start;
    text-align: left;
    cursor: pointer;
    font-weight: 700;
    width: 100px;
    position: relative;
}

.btn-2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform-origin: left;
    transition: transform .5s ease-out;
}

.btn-2:hover::after {
    transform: scaleX(0);
}

.read-arrow {
    transform: rotate(45deg) translateY(0);
    transition: opacity .3s ease;
}

.btn-2:hover .read-more .box-read-more .arrow-cross-read-more i {
    animation: move-arrow 1 .3s linear forwards;
    opacity: 1;
}

@keyframes move-arrow {
    0% {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }

    25% {
        transform: rotate(45deg) translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: rotate(45deg) translateY(50px);
        opacity: 0;
    }

    75% {
        transform: rotate(45deg) translateY(10px);
        opacity: 0;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }
}

@media (min-width:0px) and (max-width:250px) {
    .container-box {
        transform: translate(-50%, -35%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .data-box4 {
        height: 125px;
    }

    .data-box2-h1 {
        font-size: 27px;
        font-weight: 500;
    }

    .data-box2-con {
        font-size: 15px;
        font-weight: 370;
    }

    .data-box4 {
        border: none;
    }

    .data-box1 {
        width: 150px;
        height: 25px;
        border: 2px solid blue;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-1 {
        font-size: 13px;
    }

    .data-box1:hover {
        width: 150px;
        height: 25px;
        transition: .3s;
    }

    .btn-2 {
        width: 89px;
    }
}

@media (min-width:250px) and (max-width:373px) {
    .container-box {
        transform: translate(-50%, -20%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .data-box4 {
        height: 125px;
    }

    .data-box2-h1 {
        font-size: 27px;
        font-weight: 500;
    }

    .data-box2-con {
        font-size: 15px;
        font-weight: 370;
    }

    .data-box4 {
        border: none;
    }

    .data-box1 {
        width: 150px;
        height: 25px;
        border: 2px solid blue;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-1 {
        font-size: 13px;
    }

    .data-box1:hover {
        width: 150px;
        height: 25px;
        transition: .3s;
    }

    .btn-2 {
        width: 89px;
    }
}

@media (min-width:374px) and (max-width: 424px) {
    .container-box {
        transform: translate(-50%, -30%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .data-box2-h1 {
        font-size: 25px;
        font-weight: 650;
    }

    .data-box2-con {
        font-size: 15px;
        font-weight: 450;
    }

    .data-box1 {
        width: 150px;
        height: 25px;
        border: 2px solid blue;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-1 {
        font-size: 13px;
    }

    .data-box1:hover {
        width: 150px;
        height: 25px;
        transition: .3s;
    }

    .data-box4 {
        border: none;
        padding-left: 20px;
    }

    .btn-2 {
        width: 89px;
    }
}

@media (min-width: 425px) and (max-width: 991px) {
    .container-box {
        transform: translate(-50%, -25%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .data-box2-h1 {
        font-size: 35px;
        font-weight: 650;
    }

    .data-box1 {
        width: 150px;
        height: 25px;
        border: 2px solid blue;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-1 {
        font-size: 13px;
    }

    .data-box1:hover {
        width: 150px;
        height: 25px;
        transition: .3s;
    }

    .data-box4 {
        border: none;
        height: 100px;
        padding-left: 20px;
    }

    .data-box2-con {
        font-size: 15px;
        font-weight: 300;
    }

    .btn-2 {
        width: 89px;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
    .container-box {
        transform: translate(-50%, -25%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .data-box2-h1 {
        font-size: 35px;
        font-weight: 650;
    }

    .data-box1 {
        width: 150px;
        height: 25px;
        border: 2px solid blue;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-1 {
        font-size: 13px;
    }

    .data-box1:hover {
        width: 150px;
        height: 25px;
        transition: .3s;
    }

    .data-box4 {
        /* border: none; */
        height: 90px;
        padding-left: 20px;
    }

    .data-box2-con {
        font-size: 15px;
        font-weight: 300;
    }

    .btn-2 {
        width: 89px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .container-box {
        transform: translate(-50%, -0%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }

    .btn-2 {
        width: 89px;
    }

    .data-box2-h1 {
        font-size: 40px;
        font-weight: 900;
    }

    .data-box2-con {
        font-weight: 350;
    }

    .data-box4 {
        height: 105px;
    }

}

@media (min-width: 1440px) {
    .container-box {
        transform: translate(-50%, -10%);
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }
}

.emp-expr {
    width: 13rem;
    height: 1.5rem;
    border: 1px solid rgba(18, 104, 251, .3);
    border-radius: 7px;
    color: #1268fb;
    font-weight: 500;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn1 {
    display: inline-flex;
    color: var(--white);
    padding: 20px 24px;
    border: 1px solid #1a6945;
    border-radius: 18px;
    text-align: left;
    background-image: unset;
    text-transform: uppercase;
    background-color: #094227;
    width: 100%;
    letter-spacing: 1px;
    position: relative;
}

.btn2,
.btn3 {
    display: inline-flex;
    padding: 20px 24px;
    border-radius: 18px;
    text-align: left;
    background-image: unset;
    position: relative;
}

.box,
.box1,
.box2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 44px;
    text-align: center;
    height: 44px;
    width: 44px;
    font-size: 18px;
    color: var(--white);
    background: linear-gradient(140deg, #1f4e38, #36795a, #1a6945);
    right: 5px;
    top: 10px;
    background-size: 250%;
    background-position: top left;
    overflow: hidden;
    border-radius: 13px;
    transition: background-position 0.3s ease;
}

.arrow-cross,
.arrow-cross-left-side {
    overflow: hidden;
    height: 20px;
    width: 20px;
    line-height: 20px;
}

.box .arrow-cross i {
    transform: rotate(45deg) translateY(0);
    transition: opacity 0.3s ease;
}

.box1 .arrow-cross i {
    transform: rotate(45deg) translateY(0);
    transition: opacity 0.3s ease;
}

.box2 .arrow-cross-left-side i {
    transform: rotate(-45deg) translateY(0);
    transition: opacity 0.3s ease;
}

.btn1:hover,
.btn2:hover,
.btn:hover .box,
.box1,
.box2 {
    background-position: bottom right;
}


.btn1:hover .box .arrow-cross i {
    animation: move-up-arrow 1 .2s linear forwards;
    opacity: 1;
}

.btn2:hover .box1 .arrow-cross i {
    animation: move-up-arrow 1 .2s linear forwards;
    opacity: 1;
}

.btn3:hover .box2 .arrow-cross-left-side i {
    animation: move-left-arrow 1 .2s linear forwards;
    opacity: 1;
}

.header-data {
    /* position: absolute; */
    z-index: 5;
}

@keyframes move-up-arrow {
    0% {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }

    25% {
        transform: rotate(45deg) translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: rotate(45deg) translateY(50px);
        opacity: 0;
    }

    75% {
        transform: rotate(45deg) translateY(10px);
        opacity: 0;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }
}

@keyframes move-left-arrow {
    0% {
        transform: rotate(-45deg) translateY(0);
        opacity: 1;
    }

    25% {
        transform: rotate(-45deg) translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: rotate(-45deg) translateY(50px);
        opacity: 0;
    }

    75% {
        transform: rotate(-45deg) translateY(10px);
        opacity: 0;
    }

    100% {
        transform: rotate(-45deg) translateY(0);
        opacity: 1;
    }
}

.emp-expr {
    margin-bottom: 10vh;
}

@media(max-width:768px) {
    .emp-expr {
        margin-bottom: 6vh;
    }
}

.second-cl {
    display: flex;
    align-items: end;
    justify-content: end;
}

.btn1 {
    margin-top: 10vh;
}

.col-h1 {
    font-size: 50px;
}

@media(min-width:250px) and (max-width:1023px) {
    .col-h1 {
        font-size: 30px;
    }

    .second-cl {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .btn1 {
        margin-top: 6vh;
    }
}

@media(min-width:1024px) and (max-width:1439px) {
    .col-h1 {
        font-size: 40px;
    }
}