* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1f4e38;
    --main-color-rgb: 31, 78, 56;
    --secondary-color: #b1df56;
    --secondary-color-rgb: 177, 223, 86;
    --description-color: #343434;
    --description-color-rgb: 52, 52, 52;
    --body-bg: #f7f5e8;
    --body-bg-rgb: 247, 245, 232;
    --white: #ffffff;
    --ff: 'Manrope';
    --secondary-ff: 'Fraunces';
    --fw: 600;
}

body {
    /* background-color: var(--body-bg); */
    color: var(--description-color);
    /* font-family: "Merienda", serif; */
}

a {
    text-decoration: none;
}


.btn1 {
    display: inline-flex;
    color: var(--white);
    padding: 20px 24px;
    border: 1px solid #1a6945;
    border-radius: 18px;
    text-align: left;
    background-image: unset;
    text-transform: uppercase;
    background-color: #094227;
    width: 215px;
    letter-spacing: 1px;
    position: relative;
}

.btn2,
.btn3 {
    display: inline-flex;
    padding: 20px 24px;
    border-radius: 18px;
    text-align: left;
    background-image: unset;
    position: relative;
}

.box,
.box1,
.box2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 44px;
    text-align: center;
    height: 44px;
    width: 44px;
    font-size: 18px;
    color: var(--white);
    background: linear-gradient(140deg, #1f4e38, #36795a, #1a6945);
    right: 5px;
    top: 10px;
    background-size: 250%;
    background-position: top left;
    overflow: hidden;
    border-radius: 13px;
    transition: background-position 0.3s ease;
}

.arrow-cross,
.arrow-cross-left-side {
    overflow: hidden;
    height: 20px;
    width: 20px;
    line-height: 20px;
}

.box .arrow-cross i {
    transform: rotate(45deg) translateY(0);
    transition: opacity 0.3s ease;
}

.box1 .arrow-cross i {
    transform: rotate(45deg) translateY(0);
    transition: opacity 0.3s ease;
}

.box2 .arrow-cross-left-side i {
    transform: rotate(-45deg) translateY(0);
    transition: opacity 0.3s ease;
}

.btn1:hover,
.btn2:hover,
.btn:hover .box,
.box1,
.box2 {
    background-position: bottom right;
}


.btn1:hover .box .arrow-cross i {
    animation: move-up-arrow 1 .2s linear forwards;
    opacity: 1;
}

.btn2:hover .box1 .arrow-cross i {
    animation: move-up-arrow 1 .2s linear forwards;
    opacity: 1;
}

.btn3:hover .box2 .arrow-cross-left-side i {
    animation: move-left-arrow 1 .2s linear forwards;
    opacity: 1;
}

.header-data {
    /* position: absolute; */
    z-index: 5;
}

@keyframes move-up-arrow {
    0% {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }

    25% {
        transform: rotate(45deg) translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: rotate(45deg) translateY(50px);
        opacity: 0;
    }

    75% {
        transform: rotate(45deg) translateY(10px);
        opacity: 0;
    }

    100% {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }
}

@keyframes move-left-arrow {
    0% {
        transform: rotate(-45deg) translateY(0);
        opacity: 1;
    }

    25% {
        transform: rotate(-45deg) translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: rotate(-45deg) translateY(50px);
        opacity: 0;
    }

    75% {
        transform: rotate(-45deg) translateY(10px);
        opacity: 0;
    }

    100% {
        transform: rotate(-45deg) translateY(0);
        opacity: 1;
    }
}






/* <Container>
                <div class="col-2">
                    <div class="get-started-btn">
                        <a type="button" href="#" class="btn1">
                            <span>Get Started</span>
                            <div class="box">
                                <div class="arrow-cross">
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a type="button" href="#" class="btn2">
                    <div class="box1">
                        <div class="arrow-cross">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                    </div>
                </a>
                <a type="button" href="#" class="btn3">
                    <div class="box2">
                        <div class="arrow-cross-left-side">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                    </div>
                </a> 
</Container>*/