
  .colorGradiant {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px 0;
  }
  
  .Content-txt {
    text-align: center;
  }
  
  .Content-h3 {
    font-size: 50px;
    font-weight: 700;
  }
  
  .make-btn {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .make-btn span {
    color: #ffffff;
    font-size: 16px;
  }
  
  .make-btn i {
    color: #ffffff;
  }
  
  .card {
    border-radius: 15px;
    background-color: #010e37;
  }
  
  .card-body {
    padding: 30px;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: 700;
    color: #007bff;
  }
  .card-subtitle{
    color: #a1a7b2;
    margin-top: 10px;
  }
  .card-subtitle, .card-text {
    font-size: 1.1rem;
  }
  
  .btn-outline-primary {
    margin-bottom: 20px;
    border-radius: 20px;
  }
  